/vendor
/web/core
/web/profiles
/web/themes/contrib
/web/modules/contrib
/web/*/README.txt
*.sql
*.sql.gz

/.idea
.gitattributes
.editorconfig
web/robots.txt
web/robots.txt
web/INSTALL.txt
web/.ht.router.php
web/.eslintrc.json
web/.eslintignore
web/.csslintrc
web/update.php
web/example.gitignore
web/README.md
web/.gitignore
web/sites/default/files/
web/web.config
web/index.php
