.project__content {
  display: flex;
  flex-direction: column;

  @media (min-width: 62.5rem) {
    align-items: flex-start;
    flex-direction: row;
    gap: 16px;
  }
}

.project__technologies {
  align-items: center;
  display: flex;
  gap: 12px;

  & svg {
    display: block;
    height: 32px;
    max-width: 48px;
  }
}

.project__technologies {
  order: 2;

  @media (min-width: 62.5rem) {
    flex: 0 0 180px;
    flex-wrap: wrap;
    order: 0;
  }
}

.project__accomplishments {
  flex: 1;
}
